/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 5px;
    align-items: center;
}

.page_title {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 36%;
}

#logo {
    width: 200px;
}

#welcome {
    text-decoration: none;
    color: white;
}

/* Navigation bar */
nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

a {
    color: white;
}

.nav {
    margin-left: 36%;
}

.nav > a{
    margin-right: 2em;
}
/* Main */
.information {
    margin-bottom: 300px;
    display: flex;
    margin-left: 40%;
    margin-top: 30px;
}
/* Col 1 */
.col1 {
    margin-right: 50px;
}
.information > .col1 > p {
    font-size: 25px;
}

/* Col 2 */
.information > .col2 > form {
    margin-top: 112px;
}
.information > .col2 > p {
    font-size: 25px;
}

/* Footer */
footer {
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-evenly;
    background-color: #333;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 100%;
  
    padding: 1rem 3rem;
  }
  
  footer>* {
    color: #E4D8C5;
  }
  
  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo2-container {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  #logo2 {
    width: 20%;
  }
  
  .form>* {
    font-family: Playfair Display;
  }
  
  #email {
    font-family: Playfair Display;
  }
  
  .form label {
    font-family: Playfair Display;
  }
  
  .credit {
    text-align: center;
  }
  
  .credit p {
    color: white;
  }
  
  #logo {
    font-family: Playfair Display;
  }
  
  .credit>* {
    font-family: Playfair Display;
  }
  
  .credit>h2 {
    width: max-content;
    margin-bottom: 0.3rem;
  }
  
  .credit>p {
    font-size: 0.9rem;
  }