@font-face {
  font-family: 'fanwood';
  src: url('Prociono-Regular-webfont.woff');
}

/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'fanwood', sans-serif;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 5px;
    align-items: center;
}

.page_title {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 36%;
}

#logo {
    width: 200px;
}

#welcome {
    text-decoration: none;
    color: white;
}

/* Navigation bar */
nav {
    background-color: #555;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

a {
    color: white;
}

.nav {
    margin-left:33%;
}

.nav > a{
    margin-right: 2em;
}

/* Main content */
main {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

a:visited {
    color: white;
}

a:hover {
    color: #cc527a;
}

/* Intro section */
.intro > img {
  width: 30%;
  margin-right: 20px;
}

.intro > p {
  font-size: 1.5em;
}

.intro {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.intro-container {
  display: flex;
}

#intro-title {
  text-align: center;
  background-color:#cc527a;
  padding: 10px;
}

/* Description */
.description1 {
  display: flex;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

.description2 {
  display: flex;
  margin-bottom: 700px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

#img4 {
  width: 50%;
}

#img5 {
    width: 50%; /* Keep its original width */
    right: 0; /* Align it to the right side of the container */
}

/* Des 1 */
.description1 > .des1 > p {
  font-size: 30px;
}
.description1 > .des1 > a > button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: 'fanwood';
  background-color: #B68595;
  color: white;
}

/* Des 2 */
.description2 > .des2  > p {
  font-size: 30px;
}
.description2 > .des2 > a > button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: 'fanwood';
  background-color: #B68595;
  color: white;
}

/* Footer */
footer {
    z-index: 1;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-evenly;
    background-color: #333;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 100%;
  
    padding: 1rem 3rem;
  }
  
  footer>* {
    color: #E4D8C5;
  }
  
  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo2-container {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  #logo2 {
    width: 20%;
  }
  
  .form>* {
    font-family: Playfair Display;
  }
  
  #email {
    font-family: Playfair Display;
  }
  
  .form label {
    font-family: Playfair Display;
  }
  
  .credit {
    text-align: center;
  }
  
  .credit p {
    color: white;
  }
  
  #logo {
    font-family: Playfair Display;
  }
  
  .credit>* {
    font-family: Playfair Display;
  }
  
  .credit>h2 {
    width: max-content;
    margin-bottom: 0.3rem;
  }
  
  .credit>p {
    font-size: 0.9rem;
  }