<link rel="stylesheet" href="css/index.css">

<header>
  <div class="page_title">
    <a id ='welcome' href='index.html'><h1>Welcome to</h1></a>
    <a href="index.html"><img id='logo' src="images/logo.png" alt="LifeGuard AI logo"></a>
  </div>
</header>

<nav>
  <div class="nav">
    <a href="aihealth.html">AI Health Model</a>
    <a href="doctor.html">Find your doctor</a>
    <a href="account.html">Your Account</a>
  </div>
</nav>

<main>
  <!--Intro section -->
  <div class='intro-container'>
  <div class="intro">
    <img src="images/1.png" alt="Counseling">
    <p>Want to seek immediate health counseling right at home?</p>
  </div>

<div class="intro">
  <img src="images/2.png" alt="Counseling">
  <p>Traditional healthcare services take too much time and documents?</p>
</div>

<div class="intro">
    <img src="images/3.png" alt="Counseling">
  <p>Having trouble finding the most suitable healthcare provider?</p>
</div>
</div>
<h2 id="intro-title">LifeGuard AI is here to help</h2>

<div class="description1">
  <img id='img4' src="images/4.png" alt="LifeGuard">
  <p>We provide an AI model that provides healthcare couseling based on your input.</p>
</div>

<div class="description2">
  <p>After analyzing your conditions, our AI model will connect you to the healthcare location most suited with your needs.</p>
    <img id='img5'src="images/5.png" alt="LifeGuard">
</div>
</main>

<footer>
  <div className='col1'>
    <div className="logo2-container">
      <img id='logo2' src ='images/logo.png' alt='Smart Cycle Logo'/>
    </div>
    
    <div className='form'>
      <h3>Stay up-to-date with our monthly newsletter</h3>
      <form action='#' method ='post2' class = 'newsletter'/>
      <label for ='email'>Email</label>
      <input type ='email' id ='email' name = 'email' placeholder='Your Email Address' required/>
    </div>
  </div>
  
  <div className='credit'>
    <h2>Created by</h2>
    <p>Sewon Kim</p>
    <p>Alex Jia</p>
    <p>Kathy Tran</p>
  </div>
</footer>