<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="css/account.css" rel="stylesheet" />
    <title>User's Account</title>
  </head>

  <body>
<header>
  <div class="page_title">
    <a id ='welcome' href='index'><h1>Welcome to</h1></a>
    <a href="/"><img id='logo' src="images/logo.png" alt="LifeGuard AI logo"></a>
  </div>
</header>

<nav>
  <div class="nav">
    <a href="aihealth">AI Health Model</a>
    <a href="doctor">Find your doctor</a>
    <a href="account">Your Account</a>
  </div>
</nav>

<!--main-->
<div class='information'>
    <div class='col1'>
      <p>Username:</p>
      <p>First name:</p>
      <p>Last name:</p>
      <p>Email:</p>
      <p>Phone number:</p>
      <p>Birth Date:</p>
      <p>Password:</p>
    </div>
  
    <div class='col2'>
      <p>nancy0512</p>
      <p>Nancy</p>
      <p>Smith</p>
      <p>nancysmith0512@gmail.com</p>
      <p>4708629846</p>
      <p>May 12, 2004</p>

      <form action="/login" method="post">

        <label for="password"></label>
        <input type="password" id="password" name="password" required>
      </form>
    </div>
</div>

<!--Footer -->
<footer>
  <div className='col1'>
    <div className="logo2-container">
      <img id='logo2' src ='images/logo.png' alt='Smart Cycle Logo'/>
    </div>
    
    <div className='form'>
      <h3>Stay up-to-date with our monthly newsletter</h3>
      <form action='#' method ='post2' class = 'newsletter'/>
      <label for ='email'>Email</label>
      <input type ='email' id ='email' name = 'email' placeholder='Your Email Address' required/>
    </div>
  </div>
  
  <div className='credit'>
    <h2>Created by</h2>
    <p>Sewon Kim</p>
    <p>Alex Jia</p>
    <p>Kathy Tran</p>
  </div>
</footer>
  </body>
</html>