<link rel="stylesheet" href="css/index.css">

<header>
  <div class="page_title">
    <a id ='welcome' href='index'><h1>Welcome to</h1></a>
    <a href="/"><img id='logo' src="images/logo.png" alt="LifeGuard AI logo"></a>
  </div>
</header>

<nav>
  <div class="nav">
    <a href="aihealth">AI Health Model</a>
    <a href="doctor">Find your doctor</a>
    <a href="account">Your Account</a>
  </div>
</nav>
<!--Articles-->
      <div class='content'>
        
            <div class='article'>
              <h3>Doctor Green</h3>
              <p>Specialize in </p>
            </div>
    
            <div class='article'>
              <h3>Doctor Smith</h3>
              <p>Specialize in </p>
            </div>
    
            <div class='article'>
              <h3>Doctor Davis</h3>
              <p>Specialize in </p>
            </div>

            <div class='article'>
              <h3>Doctor Jones</h3>
              <p>Specialize in </p>
            </div>

            <div class='article'>
              <h3>Doctor Garcia</h3>
              <p>Specialize in </p>
            </div>

        <div class='article'>
          <h3>Doctor Miller</h3>
          <p>Specialize in </p>
        </div>

<!--Footer -->
<footer>
  <div className='col1'>
    <div className="logo2-container">
      <img id='logo2' src ='images/logo.png' alt='Smart Cycle Logo'/>
    </div>
    
    <div className='form'>
      <h3>Stay up-to-date with our monthly newsletter</h3>
      <form action='#' method ='post2' class = 'newsletter'/>
      <label for ='email'>Email</label>
      <input type ='email' id ='email' name = 'email' placeholder='Your Email Address' required/>
    </div>
  </div>
  
  <div className='credit'>
    <h2>Created by</h2>
    <p>Sewon Kim</p>
    <p>Alex Jia</p>
    <p>Kathy Tran</p>
  </div>
</footer>